*:focus {
  outline: none;
}

#app-cover {
  /*position: absolute;
    bottom: 5vh;
    right: 0;
    left: 0;
    margin: auto;*/
  height: 100px;
  margin-top: 20rem;
  bottom: 0;
  /*@media (max-width: 460px) {
        margin-top: 16rem;
        height: 70px;
    }*/
}

@media (max-width: 959px) {
  #app-cover {
    margin-top: 14rem;
    height: 70px;
  }
}

@media (min-width: 576px) {
  #app-cover {
    display: inline-block;
    width: 430px;
  }
}

#player {
  position: relative;
  height: 100%;
  z-index: 3;
}

#player-track {
  position: absolute;
  top: 0;
  right: 15px;
  left: 15px;
  padding: 13px 22px 10px 140px;
  background-color: #fff7f7;
  border-radius: 15px 15px 0 0;
  -webkit-transition: 0.5s ease top;
  transition: 0.5s ease top;
  z-index: 1;
}

@media (max-width: 390px) {
  #player-track {
    padding: 13px 12px 10px 130px;
  }
  #player-track #connection {
    font-size: 0.9rem;
    line-height: 1rem;
  }
  #player-track #radio {
    font-size: 0.7rem;
    line-height: 1rem;
  }
}

#player-track.active {
  top: -75px;
}

#connection {
  color: #54576f;
  font-size: 17px;
  font-weight: bold;
}

#radio {
  color: #acaebd;
  font-size: 13px;
  margin: 2px 0 13px 0;
}

#track-time {
  margin-bottom: 3px;
  overflow: hidden;
}

#current-time {
  float: left;
}

#track-length {
  float: right;
}

#current-time, #track-length {
  color: transparent;
  font-size: 11px;
  background-color: #ffe8ee;
  border-radius: 10px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

#track-time.active #current-time, #track-time.active #track-length {
  color: #f86d92;
  background-color: transparent;
}

#s-area, #seek-bar {
  position: relative;
  height: 4px;
  border-radius: 4px;
}

#s-area {
  background-color: #ffe8ee;
  cursor: pointer;
}

#ins-time {
  position: absolute;
  top: -29px;
  color: #fff;
  font-size: 12px;
  white-space: pre;
  padding: 5px 6px;
  border-radius: 4px;
  display: none;
}

#s-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  z-index: 2;
}

#ins-time, #s-hover {
  background-color: #3b3d50;
}

#seek-bar {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #fd6d94;
  -webkit-transition: 0.2s ease width;
  transition: 0.2s ease width;
  z-index: 1;
}

#player-content {
  position: relative;
  height: 100%;
  background-color: #fff;
  border-radius: 15px;
  z-index: 2;
  border-style: solid;
  border-width: 4px;
  -o-border-image: linear-gradient(-45deg, #ec008c, #23a6d5);
     border-image: linear-gradient(-45deg, #ec008c, #23a6d5);
  border-image-slice: 1;
  /*@media (min-width:1024px){
        box-shadow: 0 30px 80px #656565;
    }*/
}

#album-art {
  position: absolute;
  top: -40px;
  width: 115px;
  height: 115px;
  margin-left: 40px;
  transform: rotateZ(0);
  -webkit-transform: rotateZ(0);
  -moz-transform: rotateZ(0);
  -ms-transform: rotateZ(0);
  -o-transform: rotateZ(0);
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  -webkit-box-shadow: 0 0 0 10px #fff;
          box-shadow: 0 0 0 10px #fff;
  border-radius: 50%;
  overflow: hidden;
}

@media (max-width: 959px) {
  #album-art {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 460px) {
  #album-art {
    width: 90px;
    height: 90px;
  }
}

#album-art.active {
  top: -60px;
  -webkit-box-shadow: 0 0 0 4px #fff7f7, 0 30px 50px -15px #afb7c1;
          box-shadow: 0 0 0 4px #fff7f7, 0 30px 50px -15px #afb7c1;
}

#album-art:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin: -10px auto 0 auto;
  background-color: #d6dee7;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 2px #fff;
          box-shadow: inset 0 0 0 2px #fff;
  z-index: 2;
}

#album-art img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}

#album-art img.active {
  opacity: 1;
  z-index: 1;
}

#album-art.active img.active {
  z-index: 1;
  -webkit-animation: rotateAlbumArt 3s linear 0s infinite forwards;
          animation: rotateAlbumArt 3s linear 0s infinite forwards;
}

@-webkit-keyframes rotateAlbumArt {
  0% {
    transform: rotateZ(0);
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    -o-transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
  }
}

@keyframes rotateAlbumArt {
  0% {
    transform: rotateZ(0);
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    -o-transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
  }
}

#buffer-box {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  height: 13px;
  color: #1f1f1f;
  font-size: 13px;
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  padding: 6px;
  margin: -12px auto 0 auto;
  background-color: rgba(255, 255, 255, 0.19);
  opacity: 0;
  z-index: 2;
}

#album-art img, #buffer-box {
  -webkit-transition: 0.1s linear all;
  transition: 0.1s linear all;
}

#album-art.buffering img {
  opacity: 0.25;
}

#album-art.buffering img.active {
  opacity: 0.8;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

#album-art.buffering #buffer-box {
  opacity: 1;
}

#player-controls {
  width: 250px;
  height: 100%;
  margin: 0 5px 0 141px;
  float: right;
  overflow: hidden;
}

.control {
  width: 33.333%;
  float: right;
  margin-top: 6px;
}

.button {
  padding: 25px;
  background-color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 959px) {
  .button {
    padding: 10px;
  }
}

.noclick {
  pointer-events: none;
  color: #acaebd;
}

svg {
  display: block;
  color: #d6dee7 !important;
  font-size: 26px !important;
  text-align: center;
  line-height: 1;
}

.button, .button i {
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.button:hover {
  background-color: #d6d6de;
}

.button:hover i {
  color: #fff;
}
/*# sourceMappingURL=player.css.map */